<div class="row">
	<main class="col-md-12">
		<div class="py-4 text-center">
			<h1>Welcome to My About Page</h1>
			<p>
				Hello and welcome! Here, you'll learn about my journey, experiences, and aspirations as a student in the dynamic world of web development.
			</p>
		</div>
		<div class="py-4 text-center">
			<h2>Personal Information</h2>
			<p>
				Allow me to introduce myself:
			</p>
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<img src="https://images.pexels.com/photos/25935100/pexels-photo-25935100/free-photo-of-work-coffee.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="My Photo" class="img-fluid mb-3">
				</div>
			</div>
			<p>
				My name is <span>Saroj Niraula. </span> I am currently enrolled in the <span>WEB700</span> course, a program that has provided me with a solid foundation in JavaScript and best coding practices. I am passionate about exploring new technologies and eager to gain hands-on experience in the IT field. My journey is driven by a love for learning and a desire to create innovative solutions.
			</p>
		</div>
	</main>				
</div>