<!DOCTYPE html>
<html>
	<head>
		<title>WEB700</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/theme.css">
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Saroj Niraula</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
					<li class="nav-item"><a class="nav-link" href="/htmlDemo">Html Demo</a></li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="/students/add">Add Student</a></li>
					<li class="nav-item"><a class="nav-link" href="/students">Students</a></li>
					<li class="nav-item"><a class="nav-link" href="/tas">Teaching Assistants</a></li>
					<li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
				</ul>
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<main class="col-md-12">
					<h1>Welcome to WEB700: The Art of Web Development!</h1>
					<p>
						Dive deep into the world of modern web development with our comprehensive course. From mastering HTML5 to advanced techniques in Express routing, our journey covers the essentials and beyond. Let's build something amazing together!
					</p>
				
					<h2>HTML5: The Heart of Modern Web Design</h2>
					<p>
						HTML5 is the cornerstone of web development, bringing in a host of new elements and attributes that enhance the functionality and aesthetics of websites and applications. Embracing HTML5 is essential for any web developer aiming to create engaging and dynamic online experiences.
					</p>
				
					<h3>Explore More</h3>
					<ul>
						<li><a href="/">Home</a> - Return to the main page and explore our content.</li>
						<li><a href="/about">About</a> - Discover more about the creator of this site and their vision.</li>
						<li><a href="/htmlDemo">HTML Demo</a> - Check out practical examples showcasing various HTML5 elements.</li>
						<li><a href="/students/add">Add Student</a> - Register a new student to join our course.</li>
						<li><a href="/students">Students</a> - View the list of students who are part of this exciting course.</li>
						<li><a href="/student/2">Student By Number</a> - Get detailed information about a specific student by their number.</li>
						<li><a href="/tas">Teaching Assistants</a> - Meet the teaching assistants who are here to help you succeed.</li>
						<li><a href="/courses">Courses</a> - Learn about other courses available to further your knowledge.</li>
					</ul>
				</main>
				
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>